@model Seating.Models.ApplicationDbContext

@{
    Layout = null;
    var employee = new List<Seating.Models.Employee>();
    employee = (List<Seating.Models.Employee>)ViewBag.EmployeesNames;
    var positionNames = new List<Seating.Models.Position>();
    positionNames = (List<Seating.Models.Position>)ViewBag.PositionNames;
    var scheduleTimes = new List<Seating.Models.Schedule>();
    scheduleTimes = (List<Seating.Models.Schedule>)ViewBag.ScheduleTimes;
    List<string> times = Seating.Helper.Common.getTimes();
    List<string> timesOver = Seating.Helper.Common.getTimesOver();
    var modelOrdered = Model.Lunches.OrderBy(m => m.LunchTime);

    <link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
}

@Html.Partial("_Header")
<body>
    <div class="container">
        <div id="instructions" style="margin-top:0em;">
            <h1 style="text-align:center; font-family: 'Alegreya Sans SC';">Lunch List Entry</h1>
            <h3 style="text-align:center; font-family: 'Alegreya Sans SC'; color:red">Always take a spot designated for your assigned shift</h3>
            <h6 style="text-align:center; font-family: 'Alegreya Sans SC';">You may double up on lunches when there are three reliefs or with lead permission</h6>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="row">0400 - 1400</th>
                    <th scope="col">0600 - 1600</th>
                    <th scope="col">0800 - 1800</th>
                    <th scope="col">1000 - 2000</th>
                    <th scope="col">1200 - 2200</th>
                    <th scope="row">1400 - 0000</th>
                    <th scope="col">1600 - 0200</th>
                    <th scope="col">1800 - 0400</th>
                    <th scope="col">2000 - 0600</th>
                    <th scope="col">2200 - 0800</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                    <td>08:30</td>
                    <td>10:30</td>
                    <td>12:30</td>
                    <td>15:00</td>
                    <td>17:00</td>
                    <td>18:30</td>
                    <td>20:30</td>
                    <td>22:30</td>
                    <td>01:00</td>
                    <td>03:30</td>
                </tr>
                <tr>
                    <td>09:00</td>
                    <td>11:00</td>
                    <td>13:00</td>
                    <td>15:30</td>
                    <td>17:30</td>
                    <td>19:00</td>
                    <td>21:00</td>
                    <td>23:00</td>
                    <td>01:30</td>
                    <td>04:00</td>
                </tr>
                <tr>
                    <td>09:30</td>
                    <td>11:30</td>
                    <td>13:30</td>
                    <td>16:00</td>
                    <td>18:00</td>
                    <td>19:30</td>
                    <td>21:30</td>
                    <td>23:30</td>
                    <td>02:00</td>
                    <td>04:30</td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td>12:00</td>
                    <td>14:00</td>
                    <td>16:30</td>
                    <td>-----</td>
                    <td>20:00</td>
                    <td>22:00</td>
                    <td>00:00</td>
                    <td>02:30</td>
                    <td>-----</td>
                </tr>
                <tr>
                    <td>-----</td>
                    <td>-----</td>
                    <td>14:30</td>
                    <td>-----</td>
                    <td>-----</td>
                    <td>-----</td>
                    <td>-----</td>
                    <td>00:30</td>
                    <td>03:00</td>
                    <td>-----</td>
                </tr>
            </tbody>
        </table>
        <div container>
            <div class="card" style="width: 12em; display:inline-block;text-align:center; margin-left:10em;">
                <div class="card-body">
                    <div class="form formBuffer" style="text-align:center">
                        <h3 style="width:5em">Sign Up</h3>
                        <select class="index-dropdown" style="width:10em;" id="lunchemployeeId">
                            <option value="" selected>-- Dispatcher --</option>
                            @foreach (var employeeName in employee)
                            {
                                <option value="@employeeName.EmployeeID">@employeeName.DisplayName</option>
                            }
                        </select>
                        <select class="index-dropdown" style="width:10em; margin-top:.5em" id="lunchtime">
                            <option value="" selected>-- Lunch Time --</option>

                        </select>
                        <select class="index-dropdown" id="lunchposition" style="margin-top: .5em; width:10em; text-align:center">
                            <option value="" selected>-- Position --</option>
                            @foreach (var positionName in positionNames)
                            {
                                <option value="@positionName.PositionID">@positionName.PositionName</option>
                            }
                        </select>
                        <input style="margin-top:.5em;" id="lunch45" type="checkbox" value="" /> 45
                        <div class="col-med-12">
                            <button id="Lunchsubmit-form" class="btn btn-secondary btn-sm">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 12em; display:inline-block;text-align:center; margin-left:20em; margin-top:-15.25em;z-index:1">
                    <div class="card-body">
                        <div class="form formBuffer" style="text-align:center">
                            <h3 style="width:5em; color:red">Override</h3>
                            <select class="index-dropdown" style="width:10em;" id="lunchemployeeIdOverride">
                                <option value="" selected>-- Dispatcher --</option>
                                @foreach (var employeeName in employee)
                                {
                                    <option value="@employeeName.EmployeeID">@employeeName.DisplayName</option>
                                }
                            </select>
                            <select class="index-dropdown" style="width:10em; margin-top:.5em" id="lunchetimeOverride">
                                <option value="" selected>-- Permission Only --</option>
                                @foreach (var timeover in timesOver)
                                {
                                    <option value="@timeover">@timeover</option>
                                }
                            </select>
                            <select class="index-dropdown" id="lunchpositionOverride" style="margin-top: .5em; width:10em; text-align:center">
                                <option value="" selected>-- Position --</option>
                                @foreach (var positionName in positionNames)
                                {
                                    <option value="@positionName.PositionID">@positionName.PositionName</option>
                                }
                            </select>
                            <input style="margin-top:.5em;" id="lunch45Override" type="checkbox" value="" /> 45
                            <input style="margin-top:.5em;" id="doubleOverride" type="checkbox" value="" /> Dbl
                            <div class="col-med-12">
                                <button id="Lunchsubmit-form-override" class="btn btn-secondary btn-sm">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="width: 15em; display:inline-block; margin-left:20em; margin-top:-14.5em;">
                        <div class="card-body">
                            <h3 class="card-title" style="text-align:center">Lunch List</h3>
                            <table class="table-bordered" style="width:13em">
                                @*populate the table with only those breaks that lack a TimeCleared value*@
                                @if (Model.Lunches != null)
                                {
                                    foreach (var item in modelOrdered)
                                    {
                                        if (DateTime.Now < item.LunchTime.AddHours(1))
                                        {
                                            <tr>
                                                @*Make each name clickable - deletes the lunch*@
                                                <td class="LunchIdNumber">
                                                    @if (item.LongerLunch == false && item.Double == false)
                                                    {
                                                        <input type="hidden" class="hiddenLunchID" value="@item.LunchID" />
                                                        <a href="Javascript:;" class="empNameLunch" style="color:black">@item.Employee.DisplayName</a>
                                                    }
                                                    @if (item.Double == true && item.LongerLunch == false)
                                                    {
                                                        <input type="hidden" class="hiddenLunchID" value="@item.LunchID" />
                                                        <a href="Javascript:;" class="empNameLunch" style="color:black">@item.Employee.DisplayName <div style="font-weight:bold; display:inline-block"> - Dbl</div></a>
                                                    }
                                                    @if (item.Double == false && item.LongerLunch == true)
                                                    {
                                                        <input type="hidden" class="hiddenLunchID" value="@item.LunchID" />
                                                        <a href="Javascript:;" class="empNameLunch" style="color:black">@item.Employee.DisplayName <div style="font-weight:bold; display:inline-block"> - 45</div></a>
                                                    }
                                                    @if (item.Double == true && item.LongerLunch == true)
                                                    {
                                                        <input type="hidden" class="hiddenLunchID" value="@item.LunchID" />
                                                        <a href="Javascript:;" class="empNameLunch" style="color:black">@item.Employee.DisplayName <div style="font-weight:bold; display:inline-block"> - Dbl -45</div></a>
                                                    }
                                                </td>
                                                <td class="LunchIdNumber" style="width:3em;">
                                                    @item.Position.PositionName
                                                </td>
                                                <td class="LunchIdNumber" style="width:3em;">
                                                    @item.LunchTime.ToString("HH:mm")
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>
    $("#siteloader").html('<object data="https://docs.google.com/spreadsheets/d/1v-ZSkfiv32IjmtTlZWenC9-9epcWokwWuncPB0CSVM8/edit?usp=sharing" />');
</script>
<script>
    $(document).ready(function () {
        $("#Lunchsubmit-form-override").click(function () {
            var model = {};
            model.EmployeeID = Number($("#lunchemployeeIdOverride").val());
            model.PositionID = Number($("#lunchpositionOverride").val());
            model.LunchTime = String($("#lunchetimeOverride").val());
            model.LongerLunch = $('#lunch45Override').is(":checked");
            model.Double = $('#doubleOverride').is(":checked");
            console.log("model", model);
            $.ajax({
                type: "HttpPost",
                url: "/Home/CreateLunch",
                dataType: 'json',
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.success)
                        window.location.href = "/Home/Index";
                    else
                        alert("Error: Lunch not submitted");
                },
                error: function () {
                    alert("Error: Lunch not submitted");
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#Lunchsubmit-form").click(function () {
            var model = {};
            model.EmployeeID = Number($("#lunchemployeeId").val());
            model.PositionID = Number($("#lunchposition").val());
            model.LunchTime = String($("#lunchtime").val());
            model.LongerLunch = $('#lunch45').is(":checked");
            console.log("model", model);
            $.ajax({
                type: "HttpPost",
                url: "/Home/CreateLunch",
                dataType: 'json',
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.success)
                        window.location.href = "/Home/Index";
                    else
                        alert("Error: Lunch not submitted");
                },
                error: function () {
                    alert("Error: Lunch not submitted");
                }
            });
        });
    });
</script>

<script>
    $(".empNameLunch").click(function () {
        Swal.fire({
            title: 'DO NOT DELETE UNLESS CANCELLING',
            text: "Only delete if you're cancelling your lunch time. DO NOT delete past, current and future lunches.",
            icon: 'error',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Cancel my lunch'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "Post",
                    url: "/Home/DeleteLunch",
                    dataType: 'json',
                    data: { "lunchID": $(this).closest("tr").find(".hiddenLunchID").val() },
                    success: function (data) {

                        if (data == true) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Successfully Removed!',
                                showConfirmButton: false,
                                timer: 2000,

                            })
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Failure!',
                                showConfirmButton: false,
                                timer: 2000
                            })
                        }
                    },
                    error: function () {
                        alert("Something went wrong. What is this? Tritech?");
                    }
                });
            }
        })


    });
    $(document).on("change", '#lunchemployeeId', function () {

        if ($(this).val() == "") {
            $("#lunchtime").html("<option selected>--Lunch Time--</option>");

        }
        else {
            $.ajax({
                url: '/Home/GetLunchTimeeDDLByEmployee/',
                type: 'POST',
                data: { empID: $(this).val() },
                dataType: 'json',
                success: function (result) {

                    $("#lunchtime").html(result.lunchTimeDDL);

                }
            });
        }
    });
</script>

<script>
    $(document).on("change", '#lunchemployeeIdOverride', function () {

        if ($(this).val() == "") {
            $("#lunchtimeOverride").html("<option selected>--Permission Only--</option>");

        }
        else {
            $.ajax({
                url: '/Home/GetLunchTimeeDDLByEmployeeOver/',
                type: 'POST',
                data: { empID: $(this).val() },
                dataType: 'json',
                success: function (result) {

                    $("#lunchtimeOverride").html(result.lunchTimeDDLOver);

                }
            });
        }
    });
</script>


